# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# FAISS / generated vector stores
vectorstore/

# Python cache
.pytest_cache/

# OS
.DS_Store
Thumbs.db